html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header--heading {
    color: crimson;
    font-size: 30px;
    padding-left: 1.5em;
}
.main--typography h2 {
    font-size: 25px;
    padding-left: 2em;
}
.main--typography h3 {
    font-size: 20px;
    padding-left: 2.5em;
}
.main--typography h4 {
    font-size: 18px;
    padding-left: 3em;
}
.main--typography h5 {
    font-size: 16px;
    padding-left: 3.5em;
}
.main--typography h6 {
    font-size: 12px;
    font-style: italic;
    padding-left: 4em;
}
.section--paragraph {
    padding-left: 5em;
    padding-right: 5em;
}
.section--list {
    padding-left: 3em;
}
.ol--visual {
    font-size: 15px;
    color: lightskyblue;
}
ul {
    color: black;
}
.blockquote--quote {
    padding: 2em;
    font-style: italic;
}